Flask~=3.1.0
flask-sqlalchemy
numpy~=1.26.4
opencv-python~=4.6.0
pathlib~=1.0.1
uWSGI~=2.0.28
uwsgidecorators~=1.1.0
requests~=2.32.3
responses
PyAudio~=0.2.14
python-ffmpeg-video-streaming
flask_wtf
wtforms~=3.2.1
wtforms-html5
wtforms_components
pysmb~=1.2.10
#pyzmq
ultralytics~=8.3.91
paramiko~=3.5.1
cryptography~=38.0.4
#matplotlib~=3.10.1
SQLAlchemy~=2.0.38
picamera2~=0.3.25
#tensorflow~=2.19.0