{% extends "base.html" %}
{% block title %}Admin{% endblock %}

{% block html_head %}

{% endblock %}

{% block content %}
    <form onsubmit="confirmInput()" action="http://localhost/admin">
        <p>
        <comment></comment>
        <fieldset>
            <legend>Videoeinstellungen</legend>
            <comment></comment>
            <p>
                <label for="duration_vid" style="right-padding:10px;">Dauer der Videoaufnahme in s:</label>
                <input id="duration_vid" name="duration_vid" type="number" size="20" value={{ duration_vid }}>
            <p>
                <label for="videoSize" style="right-padding:10px;">Videoaufl&oumlsung:</label>
                <input id="videoSizeWidth" name="videoSizeWidth" style="border:0px;" disabled=true type="number"
                       size="4" value={{ video_width }}>
                <input id="videoSizeHeight" name="videoSizeHeight" style="border:0px;" disabled=true type="number"
                       size="4" value={{ video_heigth }}></p>
            </p>
        </fieldset>
        <fieldset>
            <legend>Ausl&ouml;seempfindlichkeit der Kamera</legend>
            <comment>
                Unter Empfindlichkeit sind die Unterschiede innerhalb der Kontrastaufnahmen zu verstehen,
                anhand derer Bewegungern am Einflugloch identifiziert werden.
            </comment>
            <p>
                <label for="sensitivity" style="right-padding:10px;">Empfindlichkeit:</label>
                <input id="sensitivity" name="inputSensitivity" type="number" size="20" value={{ inputSensitivity }}>
            </p>
        </fieldset>
        <p>

        <fieldset>
            <legend>Einstellungen Zeitraffer</legend>
            <div class="flex">
                <label for="enable_replay"><input id="enable_replay" type="checkbox" onchange="setInput_Replay()"
                                                  value={{ enable_replay }}>Zeitraffer einschalten</label>

                <p>
                    <label for="intervall" style="right-padding:10px;">Intervall der Aufnahmen in Sek.</label>
                    <input id="intervall" name="replay_interval" type="number" size="3" maxlength="3" minlength="1"
                           value={{ replay_interval }}>
                </p>
                <p>
                    <label for="dur_replay" style="right-padding:10px;">Zeitraum des Zeitraffers in Tagen</label>
                    <input id="intervall" name="dur_replay" type="number" size="3" maxlength="2" minlength="1"
                           value={{ dur_replay }}>
                </p>
                <p>
                    <label for="frames_per_sec_replay" style="right-padding:10px;">Anzahl der Bilder je Sekunde</label>
                    <input id="frames_per_sec_replay_id" name="frames_per_sec_replay" type="number" size="3"
                           maxlength="2" minlength="1" value={{ frames_per_sec_replay }}>
                </p></div>
        </fieldset>
        </p><p><input type="submit" value="Speichern"></p>
    </form>
{% endblock %}
<script>function setInput_Replay() {
    enableReplay = document.getElementById('enable_replay');
    if (enableReplay) {

    } else {
        dur_replay = document.getElementById('dur_replay');
        dur_replay.setAttribute("disabled", true);
    }
}


function confirmInput() {
    fname = document.forms[0].sensivity.value;
    alert("Hello " + fname + "! You will now be redirected to www.w3Schools.com");
}
</script>